* {
	padding: 0px;
	margin: 0px;
	border: none;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}